@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1000px) {
  #form {
    display: flex;
    flex-direction: column;
  }

  #dados-usuario {
    width: 100%;
  }

  #pagamento-entrega {
    width: 100%;
  }

  #produtos-checkout {
    width: 100%;
  }
}
